@import "./partials/variables";
@import "./partials/mixins";

// FONT IMPORT
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400;1,600&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    @include font_regular($f_S, normal);
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    color: $c_black;
    padding: 20px;

    @include media_query($laptop) {
        padding: 40px;
    }
}

// SUN & MOON THEME CHANGE ICONS CSS START
.theme-icon {
    cursor: pointer;
}

img.theme-icon {
    position: absolute;
    width: 30px;
    right: 20px;
    top: 20px;
    z-index: 2;
}

// SUN & MOON THEME CHANGE ICONS CSS END

// NAVBAR START
.navbar {
    position: relative;
    padding: 40px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include media_query($laptop) {
        padding: 20px;
        padding-left: 40px;
    }
}

img.navbar-logo {
    width: 48px;
    transition: all 0.2s ease-in-out;

    &:hover {
        transform: scale(0.9);
    }

    @include media_query($mobile) {
        width: 58px;
    }

    @include media_query($laptop) {
        width: 80px;
    }
}

// BURGER MENU ICONS START
#navbar-burger {
    cursor: pointer;
    order: 1;

    @include media_query($tablet) {
        display: none;
    }
}

// MATERIAL ICONS CSS START
.material-icons {
    font-size: 2rem;

    @include media_query($mobile) {
        font-size: 2.5rem;
    }

    @include media_query($tablet) {
        font-size: 3rem;
    }
}

.arrow-right {
    border: none;
    background-color: transparent;
}

// MATERIAL ICONS CSS END

// BURGER MENU ICONS END
.navbar-links {
    @include font_accent(1.5rem, normal);
    position: absolute;
    top: 100px;
    left: 0px;
    right: 0px;
    z-index: 2;
    width: 100%;
    max-width: $tablet;
    line-height: 4rem;
    background-color: $c_black;
    color: $c_title_white;
    padding: 40px 0;
    margin-top: 20px;
    display: none; // flex when on tablet
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include media_query($tablet) {
        position: initial;
        display: flex;
        flex-direction: row;
        background-color: #fff;
        color: $c_black;
        padding: 20px;

    }
}

.navbar-link {
    width: 100%;
    text-align: center;
    transition: all 0.3s ease-in-out;

    &:hover {
        width: 100%;
        background: #ffd166c0;
        transform: scale(0.85);
    }
}

// NAVBAR END

// MAIN CONTENT START
.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // align-self: center;
    flex: 1;
}

.main-content-title {
    @include font_accent($f_M, normal);
    align-self: flex-start;
    padding-left: 40px;

    @include media_query($tablet) {
        font-size: $f_L;

    }
}

span.accent {
    font-size: $f_M;
    font-weight: bold;
    letter-spacing: 0.2rem;

    @include media_query($mobile) {
        font-size: $f_L;
    }

    @include media_query($tablet) {
        font-size: $f_XL;
    }
}

// CARDS CSS START
.cards-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 38px;
    flex-wrap: wrap;
}

.card-wrapper {
    perspective: 1000;
    margin: 0 auto 80px;
    transition: linear 0.3s all;

    &:hover {
        transform: scale(0.9);

    }
}

.card {
    position: relative;
    width: 300px;
    height: 168px;
    background: transparent;
    cursor: pointer;
    // box-shadow: 0 40px 110px rgba(0, 0, 0, 0.45);
    overflow: hidden;
    transition: 0.5s;
    transform-style: preserve-3d;

    @include media_query($mobile) {
        width: 300px;
        height: 168px;
    }

    @include media_query($laptop) {
        width: 380px;
        height: 214px;
    }

    @include media_query($desktop) {
        width: 500px;
        height: 282px;
    }
}

.front,
.back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    transition-delay: 0.15s;
    transition: 0;

}

.front {
    transform: rotateX(0deg);
}

img.front-img {
    width: 100%;
}

.more-info {
    position: absolute;
    bottom: 4px;
    right: 4px;
    color: $c_dark;
    background-color: #ffd166;
    padding: 8px 12px;
    font-size: 0.7rem;

    @include media_query($laptop) {
        font-size: 0.9rem;
    }
}

.back {
    transform: rotateX(180deg);
    opacity: 0;
    padding: 10px;
    backface-visibility: visible;
    background: $c_accent;
    color: $c_dark;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid $c_dark;
}

.back-title {
    font-size: 1.1rem;

    @include media_query($laptop) {
        font-size: 1.25rem;
    }
}

.back-info {
    font-size: 0.85rem;
    margin-top: 16px;
    text-align: center;

    @include media_query($laptop) {
        font-size: 1.1rem;
    }
}

.back-group-btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 16px;
}

.back-btn {
    padding: 8px 16px;
    background-color: $hover_gradient;
    color: $c_dark;
    border: 1px solid $c_dark;
    transition: 0.3s ease-in-out all;

    &:hover {
        background: $hover_gradient;
    }
}



.framed {
    box-shadow:
        -50px -50px 0 -40px $c_accent,
        50px 50px 0 -40px $c_accent;
}

.flip-animation {
    transform: rotateX(180deg);

    .front {
        opacity: 0;
    }

    .back {
        opacity: 1;
    }
}

// CARDS CSS END

// MAIN CONTENT END

// FOOTER START
.copyright {
    padding: 20px;
    margin-top: 40px;

}

// FOOTER END

// SCROLL UP BTN START
.scroll-up {
    display: none;
    border: none;
    background-color: transparent;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    outline: 0;
    transition: ease-in-out 0.3s all;

    &:hover {
        background: #ffd166c0;
        border-radius: 50%;
    }
}

// SCROLL UP BTN END

// HELPER CLASSES START
.light-theme {
    background-color: $c_white;
    color: $c_black;
}

.dark-theme {
    background-color: $c_black;
    color: $c_title_white;
}

.border-dark {
    border: 8px solid $c_black;
}

.border-light {
    border: 8px solid $c_title_white;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.accent {
    color: $c_accent;
}

.left {
    align-self: flex-start;
}

// HELPER CLASSES END